@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #008080;
  --color-secondary: #008080;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
.spanDDD {
  color: #008080;
  font-size: 40px;
}
.flex {
  display: flex;
  justify-content: center;
}
.lom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.BlackLom {
  font-size: 20px;
  background-color: #008080;
  width: 100%;
  border: 1px solid black;
}
.BlockLomText {
  font-size: 20px;
  background-color: #fff;
  width: 100%;
  border: 1px solid black;
}
.loggrid {
  display: grid;
}